@using SoulShop.Model;
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminNavView.cshtml";
}

@section css{
    <title>管理员主页</title>
    <style>
    </style>
}

<div class="container container-lowlg-width-p100 container-lowlg-nop">
    hello world
</div>