@media (max-width: 576px) {
    /*导航栏中的container容器*/
    .navbar .container {
        margin-left: 0;
        margin-right: 0;
    }
}

/*导航条*/
nav.soul-nav {
    border-bottom: 1px solid #cdcdcd;
    box-shadow: 0 0 2px 1px #cdcdcd;
}

/*导航栏中的开关按钮*/
.navbar .container .navbar-toggler {
    right: 0;
}

/*搜索栏*/
.nav-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

    /*搜索输入框*/
    .nav-search-input  {
        width: calc(100% - 4.5rem);
        flex: 0 1 auto;
        border-color: rgba(0, 0, 0, 0.15) !important;
    }

    /*搜索输入框*/
    .nav-search-btn  {
        flex: 0 1 auto;
    }

/*登录注册按钮组*/
.user-btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

    .btn-login {
        flex: 0 1 auto;
    }

    .btn-sign-up {
        flex: 0 1 auto;
    }

    @media (max-width: 992px) {
        .user-btn-group .btn {
            width: 48%;
        }
    }

/*wrap*/
.wrap {
    transition: all 0.4s 0s;
}

/*背景玻璃滤镜*/
.myBlur {
    filter: blur(15px);
    opacity: 0.2;
}

/*blur测试块*/
.blurTest {
    width: 100%;
    height: 1500px;
}

/*模态框遮罩*/
body.soul-modal-backdrop:after {
    content: '';
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

/*模态框*/
.soul-modal {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 10001;
    overflow: auto;
}

.soul-modal.active {
    display: block;
}

    /*框体*/
    .soul-modal .soul-modal-body {
        background: transparent;
        margin: 4rem auto;
        width: 35rem;
        padding: 1rem;
    }

    @media (max-width: 576px) {
        .soul-modal .soul-modal-body {
            width: 90%;
        }
    }

        .soul-modal .soul-modal-body input {
            display: block;
            margin: 0 auto;
            margin-bottom: 2rem;
            padding: 0.5rem 1rem;
            border-radius: 0.25rem;
            border: 1px solid #eee;
            outline: none;
            width: 65%;
            transition: all 0.2s 0s;
        }

        /*按钮组*/
        .soul-modal .soul-modal-body .login-btng-group {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 auto;
            width: 60%;
        }

        .soul-modal .soul-modal-body .login-btng-group .btn {
            width: 48%;
            opacity: 0.6;
            box-shadow: 0 0 8px 1px #bfbfbf;
            background: #ffffff;
            color: #888888;
        }

        .soul-modal .soul-modal-body .login-btng-group .btn:hover {
            opacity: 0.8;
            box-shadow: none;
        }

        @media (max-width: 576px) {
            .soul-modal .soul-modal-body input {
                width: 85%;
            }
        }

/*登录框*/
#modalLogin {
}

    #modalLogin .login-Header {
        vertical-align: middle;
        margin-bottom: 2rem;
    }

    /*头像part*/
    #modalLogin .login-Header .login-icon {
        border-radius: 50%;
        width: 18%;
        margin-right: 4%;
        border: 1px solid #eee;
        box-shadow: 0 0 5px 1px #eee;
    }

    #modalLogin .login-Header .login-band {
        width: 78%;
    }

    /*input*/
    #modalLogin .soul-modal-body input.noactive {
        opacity: 0.4;
        box-shadow: 0 0 8px 1px #bebebe;
        background: #eeeeee;
        text-align: center;
        width: 60%;
    }

    @media (max-width: 576px) {
        #modalLogin .soul-modal-body input.noactive {
            width: 80%;
        }

        #modalLogin .soul-modal-body .login-btng-group {
            width: 80%;
        }
    }

/*注册框*/
#modalSignUp {
}

    #modalSignUp .soul-type-btn-group {
        width: 65%;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        margin-bottom: 2rem;
        border: 1px solid #eeeeee;
        box-shadow: 0 0 5px 1px #eee;
        color: #aaa;
    }

        #modalSignUp .soul-type-btn-group .soul-type-btn {
            text-align: center;
            padding: 0.5rem 1rem;
            width: 50%;
            box-shadow: 0 0 8px 1px #bfbfbf;
        }
        
        #modalSignUp .soul-type-btn-group .soul-type-btn:hover {
            cursor: pointer;
        }

        #modalSignUp .soul-type-btn-group .soul-type-btn.active {
            position: relative;
            opacity: 0.6;
            background: #ffffff;
            color: #888888;
        }

        #modalSignUp .soul-type-btn-group .soul-type-btn {

        }

    #modalSignUp .login-Header {
        margin-bottom: 2rem;
    }

    #modalSignUp .login-Header .login-band {
        width: 100%;
    }

    #modalSignUp .soul-modal-body .login-btng-group {
        width: 65%;
    }

    #modalSignUp .soul-modal-body .sign-input {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 2rem;
        width: 70%;
        transition: all 0.2s 0s;
    }

    @media (max-width: 576px) {
        #modalSignUp .soul-modal-body .sign-input {
            width: 100%;
        }
    }

    #modalSignUp .soul-modal-body .sign-input .sign-label {
        flex: 1 1 auto;
    }

    #modalSignUp .soul-modal-body .sign-input input {
        flex: 1 1 auto;
        display: inline-block;
        margin: 0;
        width: 70%;
    }

    #modalSignUp .soul-modal-body .sign-input .sign-area {
        width: 70%;
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #modalSignUp .soul-modal-body .sign-input .sign-area div {
        text-align: center;
        flex: 1 1 48%;
        border: 1px solid #eeeeee;
        padding: 0.5rem 1rem;
        padding-left: 2.5rem;
        background: #ffffff no-repeat top 0.25rem left 0.25rem;
        background-size: 2rem;
    }

    #modalSignUp .soul-modal-body .sign-input .sign-area div:hover {
        cursor: pointer;
    }

    #modalSignUp .soul-modal-body .sign-input .sign-area div:first-child {
        border-left: none;
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }

    #modalSignUp .soul-modal-body .sign-input .sign-area div:last-child {
        border-left: none;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }

    /*按钮*/
    #modalSignUp .soul-modal-body .sign-input .sign-area #sign-province {
    }

    #modalSignUp .soul-modal-body .sign-input .sign-area #sign-city {
    }

    /*省和城市选择块*/
    #modalSignUp .soul-modal-body .sign-input .sign-address-choose {
        position: absolute;
        display: none;
        width: 90%;
        left: 10%;
        bottom: 2.8rem;
        background: #ffffff;
        border-radius: 0.25rem;
        z-index: 2;
        border: solid 1px #dddddd;
        padding: 0.5rem 1rem;
    }

        #modalSignUp .soul-modal-body .sign-input .sign-address-choose.active {
            display: block;
        }

    /*选择包围盒*/
    #modalSignUp .soul-modal-body .sign-input #sign-province-choose {
        height: 300px;
        overflow: auto;
    }

        #modalSignUp .soul-modal-body .sign-input #sign-province-choose .sign-address-choose-pinyin {
            border-bottom: 1px solid #dddddd;
            color: #aaaaaa;
        }

        #modalSignUp .soul-modal-body .sign-input #sign-province-choose .sign-address-choose-province {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0.5rem 1rem;
        }

        #modalSignUp .soul-modal-body .sign-input #sign-province-choose .sign-address-choose-province div {
            flex: 0 1 auto;
            padding: 0.5rem 1rem;
        }

        #modalSignUp .soul-modal-body .sign-input #sign-province-choose .sign-address-choose-province div:hover {
            cursor: pointer;
        }

    #modalSignUp .soul-modal-body .sign-input #sign-city-choose {

    }

        #modalSignUp .soul-modal-body .sign-input #sign-city-choose .sign-city-choose-titile {
            border-bottom: 1px solid #dddddd;
            color: #aaaaaa;
        }

        #modalSignUp .soul-modal-body .sign-input #sign-city-choose .sign-address-choose-city {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0.5rem 1rem;
        }

        #modalSignUp .soul-modal-body .sign-input #sign-city-choose .sign-address-choose-city div {
            flex: 0 1 auto;
            padding: 0.5rem 1rem;
        }

        #modalSignUp .soul-modal-body .sign-input #sign-city-choose .sign-address-choose-city div:hover {
            cursor: pointer;
        }

/*百度地图*/
@media (min-width: 992px) {
    #soulMap {
        height: 35rem;
    }
}

@media (max-width: 992px) {
    #soulMap {
        height: 25rem;
    }
}

@media (max-width: 576px) {
    #soulMap {
        height: 20rem;
    }
}

/*地图版权*/
.anchorBL {
    display: none;
}

/*地区选择*/
.citys-wrap {
    display: none;
    position: absolute;
    top: 2.7rem;
    left: 1rem;
    max-height: 20rem;
    overflow: auto;
    width: 80%;
    z-index:5;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-left: none;
    border-right: none;
    border-radius: 0.25rem;
}

@media (max-width: 992px) {
    .citys-wrap {
        width: 150%;
    }
}

@media (max-width: 576px) {
    .citys-wrap {
        width: 180%;
    }
}


.citys-wrap .list-group .list-group-item {
    cursor: pointer;
}

.citys-wrap .list-group .list-group-item:first-child {
    border-top: none;
}

/*定位信息*/
#MapCurrentCity {
    text-align: center;
    background-color: #ededed;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
    line-height: 2.375rem;
}

#MapCurrentCity:hover, #MapCurrentCP:hover {
    cursor: pointer;
}

#MapCurrentProvince {
    display: none;
}

#MapCurrentCP {
    display: none;
    position: absolute;
    top: 2.8rem;
    left: 1rem;
    width: 80%;
    z-index: 5;
    border: rgba(0, 0, 0, 0.125) 1px solid;
    border-radius: 0.25rem;
    padding: 0.75rem 1.25rem;
    background-color: #ffffff;
}

#MapCurrentCP.active {
    display: block;
}

#MapCurrentCP:before {
    content: '';
    position: absolute;
    top: -0.5rem;
    left: 1.5rem;
    width: 1rem;
    height: 1rem;
    border: rgba(0, 0, 0, 0.125) 1px solid;
    border-right: none;
    border-bottom: none;
    transform: rotate(45deg);
    z-index: 1;
    background-color: #ffffff;
}

/*城市查找输入框*/
#MapCitySearchInput {
    display: inline-block;
    width: calc(100% - 3.375rem);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/*城市查找搜索按钮*/
#MapCitySearchBtn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#MapCitySearchBtn img {
    width: 1.25rem;
    height: 1.25rem;
    display: block;
    margin: 0 auto
}