/*载入动画*/
.load-aminate {
    /*绝对定位 宽度固定 在父元素中部 高度百分百 flex布局*/
    left: calc(50% - 10%);
    position: absolute;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

    /*魄罗个体*/
    .load-aminate-item {
        position:relative;
        height: 100%;
    }

        .load-aminate-item img {
            position: absolute;
            bottom: calc(30% - 1.5rem);
        }

    /*一号Poluo*/
    .load-aminate-item-one {
        flex: 0 0 35%;
        max-width: 35%;
    }

        .load-aminate-item-one img {
        width: 100%;
    }

    /*二号Poluo*/
    .load-aminate-item-two {
            flex: 0 0 30%;
            max-width: 30%;
        }

        .load-aminate-item-two img {
        width: 100%;
    }

    /*三号Poluo*/
    .load-aminate-item-three {
        flex: 0 0 25%;
        max-width: 25%;
    }

        .load-aminate-item-three img {
            width: 100%;
        }

    /*四号Poluo*/
    .load-aminate-item-four {
        flex: 0 0 20%;
        max-width: 20%;
    }

        .load-aminate-item-four img {
            width: 100%;
        }