
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/docs/assets/js/vendor/tether.min.js"></script>
    <script src="~/dist/js/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <div class="row" style="margin: 30px 0;">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        测试
                    </div>
                    <div class="card-block">
                        测试
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
