@using SoulShop.Model;
@{
    Layout = "~/Areas/Shop/Views/Shared/_ShopNavView.cshtml";
    //商品类别列表
    List<T_Base_ProductCategory> listProductCategory = ViewBag.listProductCategory;

    int productCategory = ViewBag.productCategory;
    int saleType = ViewBag.saleType;
}

@section css{
    <title>商品分类页</title>
    <link href="~/Areas/Shop/MyCSS/Buyer/Order.css" rel="stylesheet" />
    <link href="~/Areas/Shop/MyCSS/ProductList/SaleProductList.css" rel="stylesheet" />
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=M1mt3fUZntsnljyuaZ4mBVN0qtNgwgOe"></script>
    <script src="~/Areas/Shop/MyJS/Main/BaiduMap.js"></script>
    <script src="~/Areas/Shop/MyJS/Buyer/Order.js"></script>
    <script src="~/Areas/Shop/MyJS/ProductList/SaleProductList.js"></script>
    <style>
    </style>
}

<div id="getHttpData" style="display:none" data-productcategory="@productCategory" data-saleType="@saleType"></div>

<!--商品瀑布区-->
<div class="container container-lowlg-width-p100 container-lowlg-nop product-falls-wrap p-0">

</div>
<div class="search-wrap">
    <div class="container p-3">
        <div class="arrow arrow-up"><img src="/Icon/ProductList/arrow-up.png" /></div>
        <div class="arrow arrow-down"><img src="/Icon/ProductList/arrow-down.png" /></div>
        <div id="orderWrap" class="search-con-wrap">
            <div>排序类型</div>
            <div class="active" data-sorttypes="1">月销量<img src="/Icon/ProductList/勾.png" /></div>
            <div data-sorttypes="0"> 价格 <img src="/Icon/ProductList/勾.png" /></div>
        </div>
        <div id="kindsWrap" class="search-con-wrap">
            <div>商品分类</div>
            <div class="active" data-categoryid="0"> 全部 <img src="/Icon/ProductList/勾.png" /></div>
            @foreach (T_Base_ProductCategory item in listProductCategory)
            {
                <div data-categoryid="@item.ID">@item.Name<img src="/Icon/ProductList/勾.png" /></div>
            }
        </div>
        <div id="areaWrap" class="search-con-wrap">
            <div>地区选择</div>
            <div class="active map-now-area-text" id="MapBtn" data-toggle="modal" data-target="#MapModel" data-areaid="0">全部</div>
        </div>
        <div class="btn btn-secondary search-btn"><img src="/Icon/NavView/search.png" style="width: 1.25rem; height: 1.25rem;"></div>
    </div>
</div>

@section modalPosition {
    <!--Model-->
    <div class="modal fade" id="MapModel" tabindex="-1" role="dialog" aria-labelledby="MapModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="MapModelLabel">定位</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span a-ria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="map-tools pb-3 row" style="">
                        <div class="col-6 row no-gutters justify-content-between">
                            <input id="MapCitySearchInput" type="text" class="form-control" />
                            <div id="MapCitySearchBtn" class="btn btn-info">
                                <img src="/Icon/NavView/search-fff.png">
                            </div>
                            <div class="citys-wrap">
                                <div class="list-group">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 row no-gutters">
                            <div id="MapCurrentProvince">北京市</div>
                            <div id="MapCurrentCity" class="col-12 text-oneline-overhidden">北京市</div>
                            <div id="MapCurrentCP">北京市-北京市</div>
                        </div>
                    </div>
                    <div id="soulMap" style="width: 100%;"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info">确定</button>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
}

@section modal{
    <!--订单模态框-->
    <div id="modalOrder" class="soul-modal">
        <div class="container container-lowlg-width-p100 container-lowlg-nop order-head-wrap mt-2 mt-md-4 pr-0 pl-0">
            <div class="order-head-edit">
                <div class="order-head-edit-btn order-head-edit-create-btn" data-id=""><div style="background-image: url(/Icon/Buyer/新建.png);">新建</div></div>
                <div class="order-head-edit-btn order-head-edit-choose-btn"><div style="background-image: url('/Icon/Buyer/选择.png');">选择</div></div>
            </div>
            <div class="order-head-border-wrap">
                <div class="order-head" data-id="">
                    <div class="order-address text-oneline-overhidden">
                        <span>收货地址：</span><span class="value"></span>
                    </div>
                    <div class="order-phone text-oneline-overhidden">
                        <span>联系电话：</span><span class="value"></span>
                    </div>
                    <div class="order-receiver-name text-oneline-overhidden">
                        <span>收件人姓名：</span><span class="value"></span>
                    </div>
                </div>
            </div>
        </div>
        <!--地址新建区-->
        <div class="container container-lowlg-width-p100 container-lowlg-nop order-address-edit order-address-create pl-0 pr-0">
            <div class="order-address-create-border-wrap">
                <div class="order-address-create-item order-address-create-address">
                    <div class="item-label">收货地址</div><div class="item-input-wrap"><input type="text" /></div>
                </div>
                <div class="order-address-create-item order-address-create-phone">
                    <div class="item-label">联系电话</div><div class="item-input-wrap"><input type="text" /></div>
                </div>
                <div class="order-address-create-item order-address-create-name" style="padding-bottom: 1rem;">
                    <div class="item-label">收件人姓名</div>
                    <div class="item-input-wrap"><input type="text" /></div>
                </div>
                <img class="order-address-create-ok-btn" src="~/Icon/Buyer/完成.png" />
            </div>
        </div>
        <!--地址选择区-->
        <div class="container container-lowlg-width-p100 container-lowlg-nop order-address-edit order-address-choose pl-0 pr-0">
            <!--例子-->
            <div class="order-address-choose-border-wrap" data-id="">
                <div class="order-address-choose-item">
                    <div class="item-address text-oneline-overhidden">
                        <span>收货地址：</span><span class="value"></span>
                    </div>
                    <div class="item-phone text-oneline-overhidden">
                        <span>联系电话：</span><span class="value"></span>
                    </div>
                    <div class="item-receiver-name text-oneline-overhidden">
                        <span>收件人姓名：</span><span class="value"></span>
                    </div>
                </div>
                <img class="order-address-choose-item-sign" src="~/Icon/Buyer/绿打勾.png" />
            </div>
        </div>
        <!--条目区-->
        <div class="container container-lowlg-width-p100 container-lowlg-nop order-wrap mt-3">

        </div>
        <div class="container container-lowlg-width-p100 container-lowlg-nop order-tools mt-3">
            <div class="order-btn order-close-btn">关闭</div>
            <div class="order-sumprice">总金额：<span class="order-sumprice-sign">￥</span><span class="order-sumprice-value">100</span></div>
            <div class="order-btn order-sure-btn">确认</div>
        </div>
    </div>
}