/*detail主要信息总样式*/
.main-info-wrap {
    margin-top: 4.5rem;
}

    /*大图片总样式*/
    .main-info-bigimg {
        border: 3px solid #ffffff;
        width: 100%;
        box-shadow: 0 0 13px 2px #aaaaaa;
    }

        .main-info-bigimg img {
            width: 100%;
        }

    /*缩略图总样式*/
    .main-info-smallimg {
        position: relative;
        margin: 2% 8% 0;
        padding: 1%;
        display: flex;
        overflow: hidden;
    }

        .main-info-smallimg-arrow {
            position: absolute;
            width: 10%;
            bottom: 5%;         
            opacity: 0.7;  
        }

        .main-info-smallimg-arrow:hover { 
            cursor: pointer;
            opacity: 0.5;  
        }

        .main-info-smallimg-arrow-left {
            left: 0;
        }

        .main-info-smallimg-arrow-right {
            right: 0;
        }

        .main-info-smallimg .img-outter-wrap {
            
            position: relative;         
            width: 25%;
            min-width: 25%;
            max-width: 25%;
            padding-left: 2% !important;
            padding-right: 2% !important;       
        }

            .main-info-smallimg .img-outter-wrap.active {
                background-color: #fff;
                box-shadow: 0 0 8px 2px #cdcdcd;
            }

            .main-info-smallimg .img-outter-wrap .img-inner-wrap img {
                width: 100%;
            }

    /*文字信息总样式*/
    .main-info-p {

    }

        .main-info-p .card .card-block > div {
            margin-bottom: 1rem;
            padding-left: 2%;
            padding-right: 2%;
        }

        .main-info-p > div.card {
            height: 100%;
        }

        /*主要信息标题*/
        .main-info-title {
            font-weight: bolder;
        }

        /*商品描述信息*/
        .main-info-description:hover {
            cursor: pointer;
        }

            /*商品全部描述*/
            .main-info-description-all {
                text-align: center;
                z-index: 3;
                padding-top: 1rem;
                padding-bottom: 1rem;
                color: #ededed;
                position: absolute;
                width: 75%;
                background: #1d1e1f;
                border-radius: 0.25rem;
                opacity: 0;
                transition: all 0.5s 0s;
            }

            .main-info-description-all.active {
                opacity: 0.6;
            }

            .main-info-description-all:after {
                content: '';
                position: absolute;
                top: -0.45rem;
                left: 2rem;
                width: 1rem;
                height: 1rem;
                background: #1d1e1f;
                transform: rotate(45deg);
            }

        /*商品价格*/
        .main-info-price {
            background:
                    repeating-linear-gradient(
                            to top left,
                            #fafafa 0,
                            #fafafa 2em,
                            #eee 2em,
                            #eee 4em,
                            #f6f2f4 4em,
                            #f6f2f4 6em
                    ),
                    repeating-linear-gradient(
                            to left,
                            white 0,
                            white 2em,
                            #f6f2f4 2em,
                            #f6f2f4 4em,
                            #fafafa 4em,
                            #fafafa 6em
                    ), white;

            background-blend-mode: multiply;
            padding-top: 1%;
            padding-bottom: 1%;
            border-radius: 0.25rem;
            margin-bottom: 1rem;
        }

            .red-price {
                opacity: 0.6;
                font-size: 3rem;
                font-weight: bolder;
                color: #d9534f;
            }

        /*商品运费*/
        .main-info-freight {

        }

            .arrive-city {
                border-right: 1px #cdcdcd dashed;
            }

        /*商品售卖信息*/
        .main-info-saleinfo {

        }

            .main-info-saleinfo > div {
                border-top: 1px dashed #cdcdcd;
                border-bottom: 1px dashed #cdcdcd;
                padding: 2%;
            }

            .main-info-saleinfo > div:first-child {
                border-right: 1px dashed #cdcdcd;
            }

        /*商品规格*/
        .main-info-style {
            box-sizing: content-box;
        }

            .main-info-style > div {
                box-sizing: inherit;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                text-align: center;
                line-height: 1;
                padding-top: 2%;
                padding-bottom: 2%;
            }

                .main-info-size div, .main-info-color div {
                    box-sizing: inherit;
                    flex: 0 0 auto;
                    width: auto;
                    min-width: 1rem;
                    height: 1rem;
                    line-height: 1;
                    border: 2px #cdcdcd solid;
                    border-radius: 0.25rem;
                    margin: 1%;
                    padding: 0.8rem;
                    transition: all 0.5s 0s;
                }

                .main-info-size div:hover, .main-info-color div:hover {
                    cursor: pointer;
                }

                .main-info-size div.active, .main-info-color div.active {
                    border-color: rgba(217, 83, 79, .5);
                    box-shadow: 0 0 3px 1px #d99191 inset;
                }

                .main-info-size div:first-child, .main-info-color div:first-child {
                    margin-left: 0;
                    border: none;
                }

                .main-info-count div {
                    flex: 0 0 auto;
                }

                .main-info-count div:first-child {
                    margin: 1% 2% 1% 0;
                    padding: 0.8rem;
                }

                .nostock {
                    opacity: 0.3;
                }

        /*商品按钮组*/
        .main-info-btngroup {

        }

        /*收藏与加入购物车按钮*/
        .detail-product-btn {
            padding-left: 2.375rem;
            border-radius: 0rem;
            color: #707070 !important;    
            border: 1px dashed #888;
            background: #fff left 0rem top 0.1rem no-repeat;
            background-size: 2.175rem;
            display: block;
            margin: 0;
        }

            .detail-product-btn:hover {
                border: 1px solid #cdcdcd;
                opacity: 0.8;
                color: #fff !important;
                background-color: #cdcdcd;
            }

    /*没有评论Img*/
    .no-comment {
        opacity: 0.5;
        width: 30%;
        height: 100%;
        margin: 0 auto;
    }

@media (max-width: 768px) {
    .no-comment {
       width: 50%;
    }
}

@media (max-width: 576px) {
    .no-comment {
       width: 60%;
    }
}

    /*页足*/
    .footer-wrap {
        background: #ffffff;
        height: 3rem;
    }